<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
	{include file="parts/block/block_head.html"}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu 2-columns" data-open="hover" data-menu="horizontal-menu" data-color="bg-gradient-x-blue-cyan" data-col="2-columns">

	<!-- BEGIN: Content-->
	<div class="app-content content">
		{if $act != "profile"}
		<div class="content-wrapper">
			<div class="content-body">
				<!--Grid options-->
				<section id="grid-options" class="row">
					{if isset($messageLock)}
					<div class="col-md-12">
						<div class="alert alert-warning alert-dismissible mb-2" role="alert">
							<strong>Informasi !</strong>
							{$messageLock}
						</div>
					</div>
					{/if}
					<div class="col-md-12">
						{if $message}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<strong>Informasi !</strong> {$message}
						</div>
						{/if}
						<div class="card">
							<!-- <div class="card-header">
                  <h4 class="card-title">{$title}</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </ul>
                  </div>
              </div> -->
							<div class="card-content collapse show mt-2">
								<div class="card-body pt-0">
									{include file="parts/block/block_loading.html"}
									{include file="parts/block/block_modal.html"}
									{include file="parts/contents/{$ctrl}/{$act}/default.html"}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		{else}
		{include file="parts/block/block_loading.html"}
		{include file="parts/contents/{$ctrl}/{$act}/default.html"}
		{/if}
	</div>
	<!-- END: Content-->


	<!-- BEGIN: Footer-->
	{include file="parts/block/block_top.html"}
	<!-- END: Footer-->
	{include file="parts/block/block_script.html"}
</body>
<!-- END: Body-->

</html>
