<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  {include file="parts/block/block_head.html"}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu 1-column blank-page blank-page" style="background-image: linear-gradient(to right, #514A9D, #24C6DC);background-repeat: repeat-x;" data-open="hover" data-menu="horizontal-menu"
  data-color="bg-gradient-x-purple-blue" data-col="1-column">
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 px-1 py-3 m-0" >
                <div class="card-header border-0 py-0">
                  <div class="text-center mb-1">
                    <!-- <img style="width: 20%;" src="assets/app-assets/images/logo/iklhk-logo-login.png" alt="branding logo"> -->
                    <img style="width: 85%;" src="assets/app-assets/images/logo/logo-iklh-24.png" alt="branding logo">
                  </div>
                  <!-- <div class="font-small-4  text-center">
                                       INDEKS KUALITAS LINGKUNGAN HIDUP
                                    </div> -->
                </div>
                <div class="card-content">
                  <div class="card-body line-on-side pb-2">
                    <form class="form-horizontal" action="" method="post" novalidate>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control round" name="username" id="user-name" placeholder="Your Username" required>
                        <div class="form-control-position">
                          <i class="ft-user"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control round" name="password" id="user-password" placeholder="Enter Password" required>
                        <div class="form-control-position">
                          <i class="ft-lock"></i>
                        </div>
                      </fieldset>
                      <div class="form-group text-center">
                        <button type="submit" name="submit" class="btn round btn-block btn-bg-gradient-x-purple-blue col-12 text-white">Login</button>
                      </div>
                    </form>
                  </div>
                  <p class="card-subtitle text-muted text-center font-small-2 mt-2 pb-0">
                    <span>
                      <a class="grey darken-2 ">
                        Direktorat Jenderal Pengendalian Pencemaran dan Kerusakan Lingkungan

                      </a>
                      <br>Kementerian Lingkungan Hidup dan Kehutanan
                      <br>
                      Copyright&copy;2020-2021. Hak Cipta Dilindungi
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <!-- END: Content-->


  <!-- BEGIN: Vendor JS-->
  <script src="assets/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
  <!-- BEGIN Vendor JS-->

  <!-- BEGIN: Page Vendor JS-->
  <script type="text/javascript" src="assets/app-assets/vendors/js/ui/jquery.sticky.js"></script>
  <script src="assets/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
  <!-- END: Page Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="assets/app-assets/js/core/app-menu.js" type="text/javascript"></script>
  <script src="assets/app-assets/js/core/app.js" type="text/javascript"></script>
  <!-- END: Theme JS-->

</body>
<!-- END: Body-->

</html>
